<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
    <servlet>
        <servlet-name>ArtDisplay</servlet-name>
        <servlet-class>theheadlesshydra.manticore.ArtDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArtDisplay</servlet-name>
        <url-pattern>/art</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArtController</servlet-name>
        <servlet-class>theheadlesshydra.manticore.ArtControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArtController</servlet-name>
        <url-pattern>/art.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CompSciDisplay</servlet-name>
        <servlet-class>theheadlesshydra.manticore.CompSciDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompSciDisplay</servlet-name>
        <url-pattern>/compsci</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompSciController</servlet-name>
        <servlet-class>theheadlesshydra.manticore.CompSciControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompSciController</servlet-name>
        <url-pattern>/compsci.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HomeDisplay</servlet-name>
        <servlet-class>theheadlesshydra.manticore.HomeDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeDisplay</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>theheadlesshydra.manticore.HomeControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
