/**   
 *    CSS styles for the art page
 */

/**   
 *    
 *     Overwrites
 *
 */
body {
	background: url('../images/art/bg.png'), #1e1e20; /* Old browsers */
	background: url('../images/art/bg.png'), -moz-linear-gradient(top,  #1e1e20 0%, #374140 100%); /* FF3.6+ */
	background: url('../images/art/bg.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e20), color-stop(100%,#374140)); /* Chrome,Safari4+ */
	background: url('../images/art/bg.png'), -webkit-linear-gradient(top,  #1e1e20 0%,#374140 100%); /* Chrome10+,Safari5.1+ */
	background: url('../images/art/bg.png'), -o-linear-gradient(top,  #1e1e20 0%,#374140 100%); /* Opera 11.10+ */
	background: url('../images/art/bg.png'), -ms-linear-gradient(top,  #1e1e20 0%,#374140 100%); /* IE10+ */
	background: url('../images/art/bg.png'), linear-gradient(to bottom,  #1e1e20 0%,#374140 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e20', endColorstr='#374140',GradientType=0 ); /* IE6-9 */
	
	background-repeat: no-repeat;
	background-position:top center;
	background-attachment:scroll;
}

h1 {
	margin: 5px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-family: "Pacifico", Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px 1px #000;
	padding-bottom: 10px;
	line-height: 40px;
}

h1 span {
	font-size: 10px;
	display: block;
	letter-spacing: 2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	color: #00c6e3;
	line-height: 14px;
	padding-top: 10px;
	text-shadow: none;
	text-transform: uppercase;
}

a {
	color: #ddd;
	text-decoration: none;
	font-family: 'Fenix', serif;
	font-size: 13px;
	letter-spacing: 3px;
}

a:hover {
	color: #dc3522;
}

p.sub {
	padding: 25px 10px 10px 10px;
	text-align: left;
	color: #aaa;
}

p.label{
	display:inline;
	font-family: 'Quattrocento', serif;
	font-size: 30px;
	letter-spacing: 10px;
	color: #d9cb9e;
}
p.subtitle{
	display:inline;
	font-family: 'Fenix', serif;
	font-size: 13px;
	letter-spacing: 3px;
	color: #d9cb9e;
	margin-left:20px;
}

/* Used to produce highlight-effect on a thumbnail*/
div.fade {
	/*filter: alpha(opacity = 30);
	opacity: 0.3;*/
	filter: alpha(opacity = 100);
	opacity: 1.0;
}
#switch-pages{
	position:fixed;
	right: 0; 
	bottom: 0;
}

/**   
 *    
 *     Main Title
 *
 */
#title_container {
	padding: 3px;
	width: 1000px;
	display: block;
	clear: both;
	position: relative;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 20px;
	border: 3px solid #d9cb9e;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#title_inner_border {
	padding: 3px;
	border-style: double;
	border-color: #d9cb9e;
	border-width: 1px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#content_container {
	width: 800px;
	margin: 0px auto;
	position: relative;
	display: block;
	clear: both;
	opacity: 1;
}

#header-3d {
	margin-top: 3%;
	margin-right: 3%;
	margin-left: 3%;
	border-bottom: 2px ridge #374140;
}

#header-art {
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

#text-3d {
	width: 214px;
	display: block;
	float: left;
	margin-right: 13px;
	border-right: 2px ridge #374140;
	padding-left: 10px;
}

#text-art {
	letter-spacing: 10px;
	width: 463px;
	display: block;
	float: right;
	margin-right: 13px;
	border-left: 2px ridge #374140;
	padding-left: 50px;
}
.char0 {
	font-family: 'Josefin Sans', serif;
	font-size: 165px;
	color: #dc3522;
}

.char1 {
	font-family: 'Josefin Sans', serif;
	font-size: 150px;
	color: #dc3522;
}

.char2 {
	font-family: 'Lusitana', serif;
	font-size: 120px;
	color: #d9cb9e;
}

/**
 *	Tab, galleries, and videos
 */

#tab_container{
	width: 1100px;
	margin: 0 auto;
}


#thumbnail_outer_border {
	padding: 3px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: double;
	border-color: #d9cb9e;
	border-width: 2px;
	width: 1067px;
	margin: 0 auto;
	/*background:#1e1e20;*/
}

#thumbnail_container {
	border-style: solid;
	border-color: #d9cb9e;
	border-width: 3px;
	width: 1060px;
	text-align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/*background: #ddd;
	background: rgba(217,203,128,1);
	background: rgba(220,53,34,1);*/
}

#main{
	overflow: hidden;
	padding:1px;
	width: 1020px;
	display:block;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #1e1e20;
	border-width: 3px;
	margin: 0 auto;
	padding-top:0px;
}

#head {
	padding: 10px;
	/*background: #fdd;*/
}
#sub_head{
	padding-top:40px;
	padding-bottom:3px;
	float:left;
	margin-left:50px;
}
#sub_head p.subtitle{
	padding-top:3px;
	padding-bottom:3px;
	margin-left:30px;
}

#column-1 {
	float: left;
	width: 300px;
	padding: 10px;
	/*background: #bfb;*/
}

#column-2 {
	float: left;
	width: 360px;
	padding: 10px;
	/*background: #ddf;*/
}

#column-3 {
	float: right;
	width: 300px;
	padding: 10px;
	/*background: #dff;*/
}

#footer {
	clear: both;
	padding: 10px;
	/*background: #ff9;*/
}

#thumbnail_item{
	padding-bottom:20px;
}
.gallery_header{
	text-align:center;
	padding-bottom:15px;
}
.gallery_header h1{
	font-family: 'Quattrocento', serif;
	font-size: 30px;
	letter-spacing: 10px;
	color:#dc3522;
}
.gallery_header p{
	display:inline;
	font-family: 'Fenix', serif;
	font-size: 13px;
	letter-spacing: 3px;
	color: #d9cb9e;
}
.gallery_header p.date{
	color: #fff;
	text-align:center;
	border-bottom: 1px dotted #fff;
}


/**   
 *        
 *    Clearfix needed so that items that are floats inside a parent element resize
 *    the parent element to properly fit the child elements
 */
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/*
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
*/