/**   
 *    CSS styles for the compsci page
 */

/**   
 *    
 *     Overwrites
 *
 */
*{
	font-family: 'Aldrich', serif;
    padding: 0px;
    margin: 0px;
}
html{
	height:100%;
}
html, body{
	width: 100%;
  	margin: 0px;
  	
	
	background-image: url('../images/compsci/bg.png');
	background-position: top left;
	background-repeat: repeat-y;
}

a {
	color: #ddd;
	text-decoration: none;
	font-family: 'Fenix', serif;
	font-size: 13px;
	letter-spacing: 3px;
}

a:hover {
	color: #5c832f;
}

/**   
 *     Connection to art page
 */
#switch-pages{
	position:fixed;
	left: 0; 
	bottom: 0;
}

/**   
 *    
 *     Main Title
 *
 */
#body-header{
	padding-top:50px;
	background-color:#363942;
	background-position: center bottom; 
	background-repeat: no-repeat;
}
#main-title{
	/* border, centre div, and pad the bottom*/
	width:80%;
	border: 2px solid #d8caa8;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom:50px;
  	-moz-border-radius: 10px;
	border-radius: 10px;
	min-width:800px;
  	
  	/* inner text padding and style*/
  	/*text-align:center;*/
  	padding:2px;
	font-family: 'Aldrich', serif;
	font-size:30px;
	letter-spacing:10px;
	text-shadow: 2px 2px #000;
}
#main-inner-border{
	padding:3px;
	border: 5px groove #d8caa8;
  	-moz-border-radius: 10px;
	border-radius: 10px;
}

#title_container {
	padding: 5px;
	width: 80%;;
	min-width:800px;
	
	margin: auto;
	margin-bottom: 50px;
	
	border: 2px solid #d8caa8;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#title_inner_border {
	padding: 3px;
	border-style: inset;
	border-color: #d8caa8;
	border-width: 3px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#content_container {
	width: 80%;
	margin: 0px auto;
	position: relative;
}

#header-computer {
	margin-top: 3%;
	margin-right: 3%;
	margin-left: 3%;
	border-bottom: 2px groove #5c8325;
}

#header-science {
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

#text-computer {
	padding-top:30px;
	padding-left:15%;
	
	font-family: 'Aldrich', serif;
	font-size: 50px;
	color:#2b2922;
	letter-spacing: 10px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	
	width: 430px;
	display: block;
	float: left;
	margin-right: 13px;
	border-right: 2px groove #5c8325;
	padding-left: 10px;
}

#text-science {
	padding-left:35%;
	
	font-family: 'Aldrich', serif;
	font-size: 50px;
	color:#2b2922;
	letter-spacing: 10px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	
	width: 463px;
	display: block;
	float: right;
	margin-right: 13px;
	border-left: 2px groove #5c8325;
	padding-left: 50px;
}

#text-projects{
	color:#d8caa8;
	padding-left:50px;
	border-bottom: 1px solid #5c8325;
}

#text-projects p{
	padding-left:50px;
	font-family: 'Quattrocento';
	padding-bottom:10px;
}

/**   
 *    
 *     Vertical Tab content styles
 *
 */
.project_header{
	color:#363942;
	color:#284907;
	display:inline;
}
.project_github{
	color:#2b2922;
	font-size:15px;
	margin-left:50px;
}
.project_github:hover{
	
}
.sub-heading{
	font-size:30px;
	border-bottom: 1px solid #284907;
}
.project_details{
	font-family: 'Gudea', serif;
	font-size: 20px;
	color:#2b2922;
}
/* List elements inside details*/
.project_details_list{
	color:#2b2922;
	list-style-type:decimal;
	padding-left:50px;
}
.project_details_list li{
	font-family: 'Gudea', serif;
	font-size: 20px;
	color:#2b2922;
}
.project_details_subheading{
	font-family: 'Aldrich', serif;
	font-size: 20px;
	color:#2b2922;
	padding-top:15px;
	font-style:italic;
}
.project_details a {
	color: #284907;
	text-decoration: none;
	font-family: 'Fenix', serif;
	font-size: 20px;
	letter-spacing: 3px;
}

.project_details a:hover {
	color: #5c832f;
}

.textWrapRight{
	float:right;
}
/**
 * Page footer and footer image
 */
#page_footer{
	height:300px;
	width:100%;
	
	background-image: url('../images/compsci/bg-bottom.png');
	background-position: top left;
	background-repeat: no-repeat;
}
 

/**   
 *        
 *    Clearfix needed so that items that are floats inside a parent element resize
 *    the parent element to properly fit the child elements
 */
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}