/**   
 *    CSS styles for the main page
 */
html {
    height: 100%;
}
body {
	background: -moz-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/main/background_tilable.png');
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		255, 245, 0.15)), color-stop(27%, rgba(252, 255, 245, 0.24)),
		color-stop(41%, rgba(209, 219, 189, 0.29)),
		color-stop(67%, rgba(145, 169, 157, 0.38)),
		color-stop(88%, rgba(62, 96, 111, 0.46)),
		color-stop(100%, rgba(25, 52, 65, 0.5))),
		url('../images/main/background_tilable.png'); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/main/background_tilable.png');
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/main/background_tilable.png');
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/main/background_tilable.png');
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/main/background_tilable.png');
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26fcfff5',
		endColorstr='#80193441', GradientType=0),
		url('../images/main/background_tilable.png'); /* IE6-9 */
	background-repeat: repeat;
	color: #808080;
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	margin: 0px;
	overflow: hidden;
	min-height: 100%;
}
img{
	padding:0px;
	margin:0px;
}
#container{
	height:0px;
	width:0px;
}
#top-banner{
	display: block;
	width:800px;
	
	
	/*Centre image to top*/
	position:fixed;
	top:0px;
	left:50%;
  	margin-left: -400px;
}
#name{
	width:600px;
	height:300px;
	
	font: normal 60px 'Lusitana';
	color:#fff0a5;
	text-align:center;
	
	/*Centre image to top*/
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-300px;
}
#name-shadow{
	width:600px;
	height:300px;
	
	font: normal 62px 'Lusitana';
	color:#8e2800;
	text-align:center;
	
	/*Centre image to top*/
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-300px;
}