body {
	background: -moz-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/Background_Tilable.png');
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		255, 245, 0.15)), color-stop(27%, rgba(252, 255, 245, 0.24)),
		color-stop(41%, rgba(209, 219, 189, 0.29)),
		color-stop(67%, rgba(145, 169, 157, 0.38)),
		color-stop(88%, rgba(62, 96, 111, 0.46)),
		color-stop(100%, rgba(25, 52, 65, 0.5))),
		url('../images/Background_Tilable.png'); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/Background_Tilable.png');
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/Background_Tilable.png');
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/Background_Tilable.png');
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(252, 255, 245, 0.15) 0%,
		rgba(252, 255, 245, 0.24) 27%, rgba(209, 219, 189, 0.29) 41%,
		rgba(145, 169, 157, 0.38) 67%, rgba(62, 96, 111, 0.46) 88%,
		rgba(25, 52, 65, 0.5) 100%), url('../images/Background_Tilable.png');
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26fcfff5',
		endColorstr='#80193441', GradientType=0),
		url('../images/Background_Tilable.png'); /* IE6-9 */
	background-repeat: repeat;
	color: #808080;
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	margin: 0px;
	overflow: hidden;
}
img {
	float:left;
    position:absolute;
    bottom:0;
}
/*
Bar graph on left
*/
#barGraph {
    position: absolute;
    /*bottom:10px;*/
    left:-7px;
    opacity: 0.9;
}
#barGraph .import.ammo {
	fill: 					#44B2D4;
}
#barGraph .import.civ {
	fill: 					#4679C1;
}
#barGraph .import.mil {
	fill:					#1658B2;
}
#barGraph .export.ammo {
	fill: 					#FFA90B;
}
#barGraph .export.civ {
	fill: 					#FF7018;
}
#barGraph .export.mil {
	fill:					#E83E0A;
}
#barGraph .importLabel text,#barGraph .exportLabel text {
	fill: 					white;
    font-family:			Roboto;
}
#barGraph .totalLabel {
    fill: 					white;
    font-family:			Roboto;
    font-size: 				23px;
}
#barGraph .exportLabel {
    font-family: 			Roboto;
    font-size: 				14px;
    fill: 					#FFA90B;
}
#barGraph .importLabel {
    font-family: 			Roboto;
    font-size: 				14px;
    fill: 					#44B2D4;
}
#barGraph .barGraphLabelBG {
    fill: rgba(0,0,0,0.8);
}
